[submodule "vim/.vim/pack/vendor/start/nerdtree"]
	path = vim/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/.vim/pack/vendor/start/vim-airline"]
	path = vim/.vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/pack/vendor/start/vim-easymotion"]
	path = vim/.vim/pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim/.vim/pack/vendor/start/nordtheme"]
	path = vim/.vim/pack/vendor/start/nordtheme
	url = https://github.com/nordtheme/vim
